.buttons {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 8%;
}

.top-buttons {
	display: contents;
}

.top-buttons .button {
	align-self: end;
}

.bottom-buttons {
	display: contents;
}

.bottom-buttons .button {
	align-self: start;
}

.button {
	width: 100%;
	padding: 12% 4%;
	border: 2px solid #000;
	border-radius: 5px;
	font-size: clamp(7px, 2.5cqi, 14px);
	font-weight: 600;
	color: white;
	background-color: #444;
	box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
	cursor: pointer;
	transition: background-color 0.15s;
}

.button:active {
	box-shadow: inset -4px 4px 0 #222;
	transform: translate(-2px, 3px);
}

.button.shiny {
	background-color: #07d0d9;
}

.button.shiny.active {
	background-color: #00cc44;
}

.button.shiny:active {
	background-color: #00ff00;
}

.button.info {
	background-color: #bcbcbc;
}

.button.info.active {
	background-color: #ff9800;
}
